{% extends "base.html" %}

{% block body %}

<h2>Study Plan </h2>
    <ul>

      <li>10-11-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/22christofferson?lang=eng">Sustainable Societies</a>, D. Todd Christofferson (2020-10)</li>

      <li>10-12-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/32cook?lang=eng">The Quorum: A Place of Belonging</a>, Carl B. Cook (2019-4)</li>

      <li>10-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/12bednar?lang=eng">We Will Prove Them Herewith</a>, David A. Bednar (2020-10)</li>

      <li>10-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/15cook?lang=eng">Hearts Knit in Righteousness and Unity</a>, Quentin L. Cook (2020-10)</li>

      <li>10-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/52jaggi?lang=eng">Let Patience Have Her Perfect Work, and Count It All Joy!</a>, Jeremy R. Jaggi (2020-10)</li>

      <li>10-16-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/55renlund?lang=eng">Do Justly, Love Mercy, and Walk Humbly with God</a>, Dale G. Renlund (2020-10)</li>

      <li>10-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/44godoy?lang=eng">I Believe in Angels</a>, Carlos A. Godoy (2020-10)</li>

      <li>10-18-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/41ballard?lang=eng">Watch Ye Therefore, and Pray Always</a>, M. Russell Ballard (2020-10)</li>

      <li>10-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/58nelson?lang=eng">A New Normal</a>, Russell M. Nelson (2020-10)</li>

      <li>10-20-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/36nelson?lang=eng">We Can Do Better and Be Better</a>, Russell M. Nelson (2019-4)</li>

      <li>10-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/37nelson?lang=eng">Embrace the Future with Faith</a>, Russell M. Nelson (2020-10)</li>

      <li>10-22-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/36nelson?lang=eng">Spiritual Treasures</a>, Russell M. Nelson (2019-10)</li>

      <li>10-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/11nelson?lang=eng">Moving Forward</a>, Russell M. Nelson (2020-10)</li>

      <li>10-24-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/51eyring?lang=eng">Holiness and the Plan of Happiness</a>, Henry B. Eyring (2019-10)</li>

      <li>10-25-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/14craig?lang=eng">Eyes to See</a>, Michelle D. Craig (2020-10)</li>

      <li>10-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/35eyring?lang=eng">He Goes before Us</a>, Henry B. Eyring (2020-4)</li>

      <li>10-27-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/32craven?lang=eng">Keep the Change</a>, Becky Craven (2020-10)</li>

      <li>10-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/26holland?lang=eng">The Exquisite Gift of the Son</a>, Matthew S. Holland (2020-10)</li>

      <li>10-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/54camargo?lang=eng">Ask, Seek, and Knock</a>, Milton Camargo (2020-10)</li>

      <li>10-30-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/27budge?lang=eng">Consistent and Resilient Trust</a>, L. Todd Budge (2019-10)</li>

      <li>10-31-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/the-priesthood-and-the-saviors-atoning-power?lang=eng">The Priesthood and the Savior’s Atoning Power</a>, Dale G. Renlund (2017-10)</li>

      <li>11-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/31eubank?lang=eng">By Union of Feeling We Obtain Power with God</a>, Sharon Eubank (2020-10)</li>

      <li>11-02-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/14uchtdorf?lang=eng">Missionary Work: Sharing What Is in Your Heart</a>, Dieter F. Uchtdorf (2019-4)</li>

      <li>11-03-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/love-one-another-as-he-has-loved-us?lang=eng">Love One Another as He Has Loved Us</a>, Jose L. Alonso (2017-10)</li>

      <li>11-04-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/17eyring?lang=eng">Prayers of Faith</a>, Henry B. Eyring (2020-4)</li>

      <li>11-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/56andersen?lang=eng">Fruit</a>, Neil L. Andersen (2019-10)</li>

      <li>11-06-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/whatsoever-he-saith-unto-you-do-it?lang=eng">Whatsoever He Saith unto You, Do It</a>, L. Whitney Clayton (2017-4)</li>

      <li>11-07-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/42eubank?lang=eng">Christ: The Light That Shines in Darkness</a>, Sharon Eubank (2019-4)</li>

      <li>11-08-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/believe-love-do?lang=eng">Believe, Love, Do</a>, Dieter F. Uchtdorf (2018-10)</li>

      <li>11-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/24nelson?lang=eng">Witnesses, Aaronic Priesthood Quorums, and Young Women Classes</a>, Russell M. Nelson (2019-10)</li>

      <li>11-10-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/45andersen?lang=eng">We Talk of Christ</a>, Neil L. Andersen (2020-10)</li>

      <li>11-11-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/53stevenson?lang=eng">Highly Favored of the Lord</a>, Gary E. Stevenson (2020-10)</li>

      <li>11-12-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/13whiting?lang=eng">Becoming like Him</a>, Scott D. Whiting (2020-10)</li>

      <li>11-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/35eyring?lang=eng">Sisters in Zion</a>, Henry B. Eyring (2020-10)</li>

      <li>11-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/45nelson?lang=eng">Hear Him</a>, Russell M. Nelson (2020-4)</li>

      <li>11-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/17oaks?lang=eng">Love Your Enemies</a>, Dallin H. Oaks (2020-10)</li>

      <li>11-16-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/46nelson?lang=eng">Let God Prevail</a>, Russell M. Nelson (2020-10)</li>

      <li>11-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/23lund?lang=eng">Finding Joy in Christ</a>, Steven J. Lund (2020-10)</li>

      <li>11-18-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/28alvarado?lang=eng">After the Trial of Our Faith</a>, Jorge M. Alvarado (2019-10)</li>

      <li>11-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/27jackson?lang=eng">The Culture of Christ</a>, William K. Jackson (2020-10)</li>

      <li>11-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/25waddell?lang=eng">There Was Bread</a>, W. Christopher Waddell (2020-10)</li>

      <li>11-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/25causse?lang=eng">A Living Witness of the Living Christ</a>, Gérald Caussé (2020-4)</li>

      <li>11-22-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/23alliaud?lang=eng">Found through the Power of the Book of Mormon</a>, Rubén V. Alliaud (2019-10)</li>

      <li>11-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/51eyring?lang=eng">Tested, Proved, and Polished</a>, Henry B. Eyring (2020-10)</li>

      <li>11-24-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/31stevenson?lang=eng">Your Priesthood Playbook</a>, Gary E. Stevenson (2019-4)</li>

      <li>11-25-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/am-i-a-child-of-god?lang=eng">Am I a Child of God?</a>, Brian K. Taylor (2018-4)</li>

      <li>11-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/42harkness?lang=eng">Peace, Be Still</a>, Lisa L. Harkness (2020-10)</li>

      <li>11-27-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/26pace?lang=eng">Come, Follow Me—the Lord’s Counterstrategy and Proactive Plan</a>, Mark L. Pace (2019-10)</li>

      <li>11-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/57holland?lang=eng">Waiting on the Lord</a>, Jeffrey R. Holland (2020-10)</li>

      <li>11-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/56johnson?lang=eng">Enduring Power</a>, Kelly R. Johnson (2020-10)</li>

      <li>11-30-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/28uchtdorf?lang=eng">God Will Do Something Unimaginable</a>, Dieter F. Uchtdorf (2020-10)</li>

      <li>12-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/36oaks?lang=eng">Be of Good Cheer</a>, Dallin H. Oaks (2020-10)</li>

      <li>12-02-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/10/meeting-the-challenges-of-todays-world?lang=eng">Meeting the Challenges of Today’s World</a>, Robert D. Hales (2015-10)</li>

      <li>12-03-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/46nelson?lang=eng">Hosanna Shout</a>, Russell M. Nelson (2020-4)</li>

      <li>12-04-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/52villar?lang=eng">Exercising Our Spiritual Muscles</a>, Juan Pablo Villar (2019-4)</li>

      <li>12-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/16rasband?lang=eng">Recommended to the Lord </a>, Ronald A. Rasband (2020-10)</li>

      <li>12-06-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/34franco?lang=eng">The Healing Power of Jesus Christ</a>, Cristina B. Franco (2020-10)</li>

      <li>12-07-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/24gong?lang=eng">All Nations, Kindreds, and Tongues</a>, Gerrit W. Gong (2020-10)</li>

      <li>12-08-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/28stevenson?lang=eng">A Good Foundation against the Time to Come</a>, Gary E. Stevenson (2020-4)</li>

      <li>12-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/43soares?lang=eng">Seek Christ in Every Thought</a>, Ulisses Soares (2020-10)</li>

      <li>12-10-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/44bednar?lang=eng">“Let This House Be Built unto My Name”</a>, David A. Bednar (2020-4)</li>

    </ul>

    <h2>Study Plan </h2>
    <ul>

      <li>12-11-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/45andersen?lang=eng">We Talk of Christ</a>, Neil L. Andersen (2020-10)</li>

      <li>12-12-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/repentance-is-always-positive?lang=eng">Repentance Is Always Positive</a>, Stephen W. Owen (2017-10)</li>

      <li>12-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/15cook?lang=eng">Hearts Knit in Righteousness and Unity</a>, Quentin L. Cook (2020-10)</li>

      <li>12-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/27jackson?lang=eng">The Culture of Christ</a>, William K. Jackson (2020-10)</li>

      <li>12-15-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/turn-on-your-light?lang=eng">Turn On Your Light</a>, Sharon Eubank (2017-10)</li>

      <li>12-16-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/37nelson?lang=eng">Embrace the Future with Faith</a>, Russell M. Nelson (2020-10)</li>

      <li>12-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/43soares?lang=eng">Seek Christ in Every Thought</a>, Ulisses Soares (2020-10)</li>

      <li>12-18-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/teaching-in-the-home-a-joyful-and-sacred-responsibility?lang=eng">Teaching in the Home—a Joyful and Sacred Responsibility</a>, Devin G. Durrant (2018-4)</li>

      <li>12-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/33cordon?lang=eng">Beloved Daughters</a>, Bonnie H. Cordon (2019-10)</li>

      <li>12-20-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/14uchtdorf?lang=eng">Missionary Work: Sharing What Is in Your Heart</a>, Dieter F. Uchtdorf (2019-4)</li>

      <li>12-21-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/come-listen-to-a-prophets-voice?lang=eng">Come, Listen to a Prophet’s Voice</a>, Dean M. Davies (2018-10)</li>

      <li>12-22-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/one-in-christ?lang=eng">One in Christ</a>, Ulisses Soares (2018-10)</li>

      <li>12-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/56johnson?lang=eng">Enduring Power</a>, Kelly R. Johnson (2020-10)</li>

      <li>12-24-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/14jones?lang=eng">An Especially Noble Calling</a>, Joy D. Jones (2020-4)</li>

      <li>12-25-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/brighter-and-brighter-until-the-perfect-day?lang=eng">Brighter and Brighter until the Perfect Day</a>, Mark A. Bragg (2017-4)</li>

      <li>12-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/46nelson?lang=eng">Hosanna Shout</a>, Russell M. Nelson (2020-4)</li>

      <li>12-27-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/31eubank?lang=eng">By Union of Feeling We Obtain Power with God</a>, Sharon Eubank (2020-10)</li>

      <li>12-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/54camargo?lang=eng">Ask, Seek, and Knock</a>, Milton Camargo (2020-10)</li>

      <li>12-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/32craven?lang=eng">Keep the Change</a>, Becky Craven (2020-10)</li>

      <li>12-30-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/33clark?lang=eng">Look unto Jesus Christ</a>, Kim B. Clark (2019-4)</li>

      <li>12-31-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/11nelson?lang=eng">Moving Forward</a>, Russell M. Nelson (2020-10)</li>

      <li>01-01-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/25waddell?lang=eng">There Was Bread</a>, W. Christopher Waddell (2020-10)</li>

      <li>01-02-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/26holland?lang=eng">The Exquisite Gift of the Son</a>, Matthew S. Holland (2020-10)</li>

      <li>01-03-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/am-i-a-child-of-god?lang=eng">Am I a Child of God?</a>, Brian K. Taylor (2018-4)</li>

      <li>01-04-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/35eyring?lang=eng">Sisters in Zion</a>, Henry B. Eyring (2020-10)</li>

      <li>01-05-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/34bingham?lang=eng">United in Accomplishing God’s Work</a>, Jean B. Bingham (2020-4)</li>

      <li>01-06-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/45nelson?lang=eng">Hear Him</a>, Russell M. Nelson (2020-4)</li>

      <li>01-07-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/56christofferson?lang=eng">Sharing the Message of the Restoration and the Resurrection</a>, D. Todd Christofferson (2020-4)</li>

      <li>01-08-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/13whiting?lang=eng">Becoming like Him</a>, Scott D. Whiting (2020-10)</li>

      <li>01-09-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/15craig?lang=eng">Spiritual Capacity</a>, Michelle Craig (2019-10)</li>

      <li>01-10-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/36oaks?lang=eng">Be of Good Cheer</a>, Dallin H. Oaks (2020-10)</li>

      <li>01-11-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/44godoy?lang=eng">I Believe in Angels</a>, Carlos A. Godoy (2020-10)</li>

      <li>01-12-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/46nelson?lang=eng">Let God Prevail</a>, Russell M. Nelson (2020-10)</li>

      <li>01-13-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/41renlund?lang=eng">Abound with Blessings</a>, Dale G. Renlund (2019-4)</li>

      <li>01-14-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/17oaks?lang=eng">Love Your Enemies</a>, Dallin H. Oaks (2020-10)</li>

      <li>01-15-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/57nelson?lang=eng">Go Forward in Faith</a>, Russell M. Nelson (2020-4)</li>

      <li>01-16-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/23lund?lang=eng">Finding Joy in Christ</a>, Steven J. Lund (2020-10)</li>

      <li>01-17-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/42harkness?lang=eng">Peace, Be Still</a>, Lisa L. Harkness (2020-10)</li>

      <li>01-18-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/57holland?lang=eng">Waiting on the Lord</a>, Jeffrey R. Holland (2020-10)</li>

      <li>01-19-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/28uchtdorf?lang=eng">God Will Do Something Unimaginable</a>, Dieter F. Uchtdorf (2020-10)</li>

      <li>01-20-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/10/principles-and-promises?lang=eng">Principles and Promises</a>, Thomas S. Monson (2016-10)</li>

      <li>01-21-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/taking-upon-ourselves-the-name-of-jesus-christ?lang=eng">Taking upon Ourselves the Name of Jesus Christ</a>, Robert C. Gay (2018-10)</li>

      <li>01-22-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/12bednar?lang=eng">We Will Prove Them Herewith</a>, David A. Bednar (2020-10)</li>

      <li>01-23-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/14craig?lang=eng">Eyes to See</a>, Michelle D. Craig (2020-10)</li>

      <li>01-24-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/15waddell?lang=eng">Just as He Did</a>, W. Christopher Waddell (2019-4)</li>

      <li>01-25-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/36nelson?lang=eng">Spiritual Treasures</a>, Russell M. Nelson (2019-10)</li>

      <li>01-26-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/16renlund?lang=eng">Unwavering Commitment to Jesus Christ</a>, Dale G. Renlund (2019-10)</li>

      <li>01-27-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/58nelson?lang=eng">A New Normal</a>, Russell M. Nelson (2020-10)</li>

      <li>01-28-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/34franco?lang=eng">The Healing Power of Jesus Christ</a>, Cristina B. Franco (2020-10)</li>

      <li>01-29-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/53stevenson?lang=eng">Highly Favored of the Lord</a>, Gary E. Stevenson (2020-10)</li>

      <li>01-30-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/24gong?lang=eng">All Nations, Kindreds, and Tongues</a>, Gerrit W. Gong (2020-10)</li>

      <li>01-31-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/51eyring?lang=eng">Tested, Proved, and Polished</a>, Henry B. Eyring (2020-10)</li>

      <li>02-01-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/pure-love-the-true-sign-of-every-true-disciple-of-jesus-christ?lang=eng">Pure Love: The True Sign of Every True Disciple of Jesus Christ</a>, Massimo De Feo (2018-4)</li>

      <li>02-02-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/firm-and-steadfast-in-the-faith-of-christ?lang=eng">Firm and Steadfast in the Faith of Christ</a>, D. Todd Christofferson (2018-10)</li>

      <li>02-03-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/41ballard?lang=eng">Watch Ye Therefore, and Pray Always</a>, M. Russell Ballard (2020-10)</li>

      <li>02-04-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/55renlund?lang=eng">Do Justly, Love Mercy, and Walk Humbly with God</a>, Dale G. Renlund (2020-10)</li>

      <li>02-05-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/24nelson?lang=eng">Witnesses, Aaronic Priesthood Quorums, and Young Women Classes</a>, Russell M. Nelson (2019-10)</li>

      <li>02-06-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/16rasband?lang=eng">Recommended to the Lord </a>, Ronald A. Rasband (2020-10)</li>

      <li>02-07-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/22christofferson?lang=eng">Sustainable Societies</a>, D. Todd Christofferson (2020-10)</li>

      <li>02-08-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/34eyring?lang=eng">The Power of Sustaining Faith</a>, Henry B. Eyring (2019-4)</li>

      <li>02-09-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/52jaggi?lang=eng">Let Patience Have Her Perfect Work, and Count It All Joy!</a>, Jeremy R. Jaggi (2020-10)</li>

    </ul>

    <h2>Study Plan </h2>
    <ul>

      <li>02-10-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/25waddell?lang=eng">There Was Bread</a>, W. Christopher Waddell (2020-10)</li>

      <li>02-11-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/24nelson?lang=eng">Witnesses, Aaronic Priesthood Quorums, and Young Women Classes</a>, Russell M. Nelson (2019-10)</li>

      <li>02-12-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/32craven?lang=eng">Keep the Change</a>, Becky Craven (2020-10)</li>

      <li>02-13-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/26holland?lang=eng">The Exquisite Gift of the Son</a>, Matthew S. Holland (2020-10)</li>

      <li>02-14-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/57holland?lang=eng">Waiting on the Lord</a>, Jeffrey R. Holland (2020-10)</li>

      <li>02-15-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/04/truly-good-and-without-guile?lang=eng">Truly Good and without Guile</a>, By Elder Michael T. Ringwood (2015-4)</li>

      <li>02-16-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/24mccune?lang=eng">Come unto Christ—Living as Latter-day Saints</a>, John A. McCune (2020-4)</li>

      <li>02-17-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/45andersen?lang=eng">We Talk of Christ</a>, Neil L. Andersen (2020-10)</li>

      <li>02-18-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/10/shipshape-and-bristol-fashion-be-temple-worthy-in-good-times-and-bad-times?lang=eng">Shipshape and Bristol Fashion: Be Temple Worthy—in Good Times and Bad Times</a>, Quentin L. Cook (2015-10)</li>

      <li>02-19-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/10/i-stand-all-amazed?lang=eng">I Stand All Amazed</a>, Ronald A. Rasband (2015-10)</li>

      <li>02-20-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/10/come-follow-me-by-practicing-christian-love-and-service?lang=eng">“Come, Follow Me” by Practicing Christian Love and Service</a>, Robert D. Hales (2016-10)</li>

      <li>02-21-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/divine-discontent?lang=eng">Divine Discontent</a>, Michelle D. Craig (2018-10)</li>

      <li>02-22-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/36oaks?lang=eng">Be of Good Cheer</a>, Dallin H. Oaks (2020-10)</li>

      <li>02-23-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/15cook?lang=eng">Hearts Knit in Righteousness and Unity</a>, Quentin L. Cook (2020-10)</li>

      <li>02-24-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/16rasband?lang=eng">Recommended to the Lord </a>, Ronald A. Rasband (2020-10)</li>

      <li>02-25-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/31eubank?lang=eng">By Union of Feeling We Obtain Power with God</a>, Sharon Eubank (2020-10)</li>

      <li>02-26-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/17oaks?lang=eng">Love Your Enemies</a>, Dallin H. Oaks (2020-10)</li>

      <li>02-27-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/44godoy?lang=eng">I Believe in Angels</a>, Carlos A. Godoy (2020-10)</li>

      <li>02-28-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/58nelson?lang=eng">A New Normal</a>, Russell M. Nelson (2020-10)</li>

      <li>03-01-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/54uchtdorf?lang=eng">Come and Belong</a>, Dieter F. Uchtdorf (2020-4)</li>

      <li>03-02-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/55clayton?lang=eng">The Finest Homes</a>, L. Whitney Clayton (2020-4)</li>

      <li>03-03-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/16eyring?lang=eng">A Home Where the Spirit of the Lord Dwells</a>, Henry B. Eyring (2019-4)</li>

      <li>03-04-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/27budge?lang=eng">Consistent and Resilient Trust</a>, L. Todd Budge (2019-10)</li>

      <li>03-05-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/14craig?lang=eng">Eyes to See</a>, Michelle D. Craig (2020-10)</li>

      <li>03-06-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/52jaggi?lang=eng">Let Patience Have Her Perfect Work, and Count It All Joy!</a>, Jeremy R. Jaggi (2020-10)</li>

      <li>03-07-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/25andersen?lang=eng">The Eye of Faith</a>, Neil L. Andersen (2019-4)</li>

      <li>03-08-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/24gong?lang=eng">All Nations, Kindreds, and Tongues</a>, Gerrit W. Gong (2020-10)</li>

      <li>03-09-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/behold-a-royal-army?lang=eng">Behold! A Royal Army</a>, Ronald A. Rasband (2018-4)</li>

      <li>03-10-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/43cook?lang=eng">Great Love for Our Father’s Children</a>, Quentin L. Cook (2019-4)</li>

      <li>03-11-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/23lund?lang=eng">Finding Joy in Christ</a>, Steven J. Lund (2020-10)</li>

      <li>03-12-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/43soares?lang=eng">Seek Christ in Every Thought</a>, Ulisses Soares (2020-10)</li>

      <li>03-13-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/13rasband?lang=eng">Ensuring a Righteous Judgment</a>, James R. Rasband (2020-4)</li>

      <li>03-14-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/13whiting?lang=eng">Becoming like Him</a>, Scott D. Whiting (2020-10)</li>

      <li>03-15-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/37nelson?lang=eng">Embrace the Future with Faith</a>, Russell M. Nelson (2020-10)</li>

      <li>03-16-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/56johnson?lang=eng">Enduring Power</a>, Kelly R. Johnson (2020-10)</li>

      <li>03-17-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/32alvarez?lang=eng">How the Priesthood Blesses Youth</a>, Laudy Ruth Kaouk Alvarez (2020-4)</li>

      <li>03-18-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/41ballard?lang=eng">Watch Ye Therefore, and Pray Always</a>, M. Russell Ballard (2020-10)</li>

      <li>03-19-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/11nelson?lang=eng">Moving Forward</a>, Russell M. Nelson (2020-10)</li>

      <li>03-20-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/34franco?lang=eng">The Healing Power of Jesus Christ</a>, Cristina B. Franco (2020-10)</li>

      <li>03-21-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/55renlund?lang=eng">Do Justly, Love Mercy, and Walk Humbly with God</a>, Dale G. Renlund (2020-10)</li>

      <li>03-22-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/22christofferson?lang=eng">Sustainable Societies</a>, D. Todd Christofferson (2020-10)</li>

      <li>03-23-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/42harkness?lang=eng">Peace, Be Still</a>, Lisa L. Harkness (2020-10)</li>

      <li>03-24-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/43uchtdorf?lang=eng">Your Great Adventure</a>, Dieter F. Uchtdorf (2019-10)</li>

      <li>03-25-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/35eyring?lang=eng">Sisters in Zion</a>, Henry B. Eyring (2020-10)</li>

      <li>03-26-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/46nelson?lang=eng">Let God Prevail</a>, Russell M. Nelson (2020-10)</li>

      <li>03-27-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/36oaks?lang=eng">The Melchizedek Priesthood and the Keys</a>, Dallin H. Oaks (2020-4)</li>

      <li>03-28-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/51eyring?lang=eng">Tested, Proved, and Polished</a>, Henry B. Eyring (2020-10)</li>

      <li>03-29-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/36nelson?lang=eng">Spiritual Treasures</a>, Russell M. Nelson (2019-10)</li>

      <li>03-30-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/28stevenson?lang=eng">A Good Foundation against the Time to Come</a>, Gary E. Stevenson (2020-4)</li>

      <li>03-31-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/31stevenson?lang=eng">Your Priesthood Playbook</a>, Gary E. Stevenson (2019-4)</li>

      <li>04-01-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/23soares?lang=eng">The Coming Forth of the Book of Mormon</a>, Ulisses Soares (2020-4)</li>

      <li>04-02-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/27jackson?lang=eng">The Culture of Christ</a>, William K. Jackson (2020-10)</li>

      <li>04-03-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/16holmes?lang=eng">Deep in Our Heart</a>, Douglas D. Holmes (2020-4)</li>

      <li>04-04-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/28uchtdorf?lang=eng">God Will Do Something Unimaginable</a>, Dieter F. Uchtdorf (2020-10)</li>

      <li>04-05-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/53stevenson?lang=eng">Highly Favored of the Lord</a>, Gary E. Stevenson (2020-10)</li>

      <li>04-06-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/52boom?lang=eng">Knowing, Loving, and Growing</a>, Hans T. Boom (2019-10)</li>

      <li>04-07-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/12bednar?lang=eng">We Will Prove Them Herewith</a>, David A. Bednar (2020-10)</li>

      <li>04-08-2021 -- <a href="https://www.churchofjesuschrist.org/general-conference/2014/10/the-sacrament-and-the-atonement?lang=eng">The Sacrament and the Atonement</a>, By Elder James J. Hamula (2014-10)</li>

      <li>04-09-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/10/54camargo?lang=eng">Ask, Seek, and Knock</a>, Milton Camargo (2020-10)</li>

      <li>04-10-2021 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/16renlund?lang=eng">Unwavering Commitment to Jesus Christ</a>, Dale G. Renlund (2019-10)</li>

    </ul>

{% endblock %}
