{% extends "base.html" %}

{% block body %}

<h2>Study Plan </h2>
    <ul>

      <li>04-10-2017 -- <a href="https://www.lds.org/general-conference/2017/04/his-daily-guiding-hand?lang=eng">His Daily Guiding Hand</a>, M. Joseph Brough (2017-4)</li>

      <li>04-11-2017 -- <a href="https://www.lds.org/general-conference/2016/10/emissaries-to-the-church?lang=eng">Emissaries to the Church</a>, Jeffrey R. Holland (2016-10)</li>

      <li>04-12-2017 -- <a href="https://www.lds.org/general-conference/2017/04/that-our-light-may-be-a-standard-for-the-nations?lang=eng">That Our Light May Be a Standard for the Nations</a>, Benjamín De Hoyos (2017-4)</li>

      <li>04-13-2017 -- <a href="https://www.lds.org/general-conference/2017/04/stand-up-inside-and-be-all-in?lang=eng">Stand Up Inside and Be All In</a>, Gary B. Sabin (2017-4)</li>

      <li>04-14-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-voice-of-warning?lang=eng">The Voice of Warning</a>, D. Todd Christofferson (2017-4)</li>

      <li>04-15-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-power-of-the-book-of-mormon?lang=eng">The Power of the Book of Mormon</a>, Thomas S. Monson (2017-4)</li>

      <li>04-16-2017 -- <a href="https://www.lds.org/general-conference/2017/04/certain-women?lang=eng">Certain Women</a>, Linda K. Burton (2017-4)</li>

      <li>04-17-2017 -- <a href="https://www.lds.org/general-conference/2017/04/brighter-and-brighter-until-the-perfect-day?lang=eng">Brighter and Brighter until the Perfect Day</a>, Mark A. Bragg (2017-4)</li>

      <li>04-18-2017 -- <a href="https://www.lds.org/general-conference/2016/10/the-sacrament-can-help-us-become-holy?lang=eng">The Sacrament Can Help Us Become Holy</a>, Peter F. Meurs (2016-10)</li>

      <li>04-19-2017 -- <a href="https://www.lds.org/general-conference/2017/04/perfect-love-casteth-out-fear?lang=eng">Perfect Love Casteth Out Fear</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>04-20-2017 -- <a href="https://www.lds.org/general-conference/2014/04/grateful-in-any-circumstances?lang=eng">Grateful in Any Circumstances</a>, By President Dieter F. Uchtdorf (2014-4)</li>

      <li>04-21-2017 -- <a href="https://www.lds.org/general-conference/2017/04/overcoming-the-world?lang=eng">Overcoming the World</a>, Neil L. Andersen (2017-4)</li>

      <li>04-22-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-godhead-and-the-plan-of-salvation?lang=eng">The Godhead and the Plan of Salvation</a>, Dallin H. Oaks (2017-4)</li>

      <li>04-23-2017 -- <a href="https://www.lds.org/general-conference/2016/04/trust-in-that-spirit-which-leadeth-to-do-good?lang=eng">Trust in That Spirit Which Leadeth to Do Good</a>, Henry B. Eyring (2016-4)</li>

      <li>04-24-2017 -- <a href="https://www.lds.org/general-conference/2013/04/your-sacred-duty-to-minister?lang=eng">Your Sacred Duty to Minister</a>, By David L. Beck (2013-4)</li>

      <li>04-25-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-beauty-of-holiness?lang=eng">The Beauty of Holiness</a>, Carol F. McConkie (2017-4)</li>

      <li>04-26-2017 -- <a href="https://www.lds.org/general-conference/2017/04/our-good-shepherd?lang=eng">Our Good Shepherd</a>, Dale G. Renlund (2017-4)</li>

      <li>04-27-2017 -- <a href="https://www.lds.org/general-conference/2016/10/if-ye-had-known-me?lang=eng">“If Ye Had Known Me”</a>, David A. Bednar (2016-10)</li>

      <li>04-28-2017 -- <a href="https://www.lds.org/general-conference/2016/10/the-perfect-path-to-happiness?lang=eng">The Perfect Path to Happiness</a>, Thomas S. Monson (2016-10)</li>

      <li>04-29-2017 -- <a href="https://www.lds.org/general-conference/2016/10/repentance-a-joyful-choice?lang=eng">Repentance: A Joyful Choice</a>, Dale G. Renlund (2016-10)</li>

      <li>04-30-2017 -- <a href="https://www.lds.org/general-conference/2017/04/let-the-holy-spirit-guide?lang=eng">Let the Holy Spirit Guide</a>, Ronald A. Rasband (2017-4)</li>

      <li>05-01-2017 -- <a href="https://www.lds.org/general-conference/2017/04/songs-sung-and-unsung?lang=eng">Songs Sung and Unsung</a>, Jeffrey R. Holland (2017-4)</li>

      <li>05-02-2017 -- <a href="https://www.lds.org/general-conference/2014/10/continuing-revelation?lang=eng">Continuing Revelation</a>, By President Henry B. Eyring (2014-10)</li>

      <li>05-03-2017 -- <a href="https://www.lds.org/general-conference/2017/04/becoming-a-disciple-of-our-lord-jesus-christ?lang=eng">Becoming a Disciple of Our Lord Jesus Christ</a>, Robert D. Hales (2017-4)</li>

      <li>05-04-2017 -- <a href="https://www.lds.org/general-conference/2017/04/whatsoever-he-saith-unto-you-do-it?lang=eng">Whatsoever He Saith unto You, Do It</a>, L. Whitney Clayton (2017-4)</li>

      <li>05-05-2017 -- <a href="https://www.lds.org/general-conference/2017/04/statistical-report-2016?lang=eng">Statistical Report, 2016</a>, Brook P. Hales (2017-4)</li>

      <li>05-06-2017 -- <a href="https://www.lds.org/general-conference/2015/10/through-gods-eyes?lang=eng">Through God’s Eyes</a>, Dale G. Renlund (2015-10)</li>

      <li>05-07-2017 -- <a href="https://www.lds.org/general-conference/2017/04/gathering-the-family-of-god?lang=eng">Gathering the Family of God</a>, Henry B. Eyring (2017-4)</li>

      <li>05-08-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-greatest-among-you?lang=eng">The Greatest among You</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>05-09-2017 -- <a href="https://www.lds.org/general-conference/2017/04/return-and-receive?lang=eng">Return and Receive</a>, M. Russell Ballard (2017-4)</li>

      <li>05-10-2017 -- <a href="https://www.lds.org/general-conference/2017/04/confide-in-god-unwaveringly?lang=eng">Confide in God Unwaveringly</a>, Ulisses Soares (2017-4)</li>

      <li>05-11-2017 -- <a href="https://www.lds.org/general-conference/2017/04/and-this-is-life-eternal?lang=eng">And This Is Life Eternal</a>, C. Scott Grow (2017-4)</li>

      <li>05-12-2017 -- <a href="https://www.lds.org/general-conference/2017/04/to-the-friends-and-investigators-of-the-church?lang=eng">To the Friends and Investigators of the Church</a>, Joaquin E. Costa (2017-4)</li>

      <li>05-13-2017 -- <a href="https://www.lds.org/general-conference/2017/04/walk-with-me?lang=eng">“Walk with Me”</a>, Henry B. Eyring (2017-4)</li>

      <li>05-14-2017 -- <a href="https://www.lds.org/general-conference/2016/04/he-asks-us-to-be-his-hands?lang=eng">He Asks Us to Be His Hands</a>, Cheryl A. Esplin (2016-4)</li>

      <li>05-15-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-sustaining-of-church-officers?lang=eng">The Sustaining of Church Officers</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>05-16-2017 -- <a href="https://www.lds.org/general-conference/2016/10/rise-up-in-strength-sisters-in-zion?lang=eng">Rise Up in Strength, Sisters in Zion</a>, Bonnie L. Oscarson (2016-10)</li>

      <li>05-17-2017 -- <a href="https://www.lds.org/general-conference/2016/10/sharing-the-restored-gospel?lang=eng">Sharing the Restored Gospel</a>, Dallin H. Oaks (2016-10)</li>

      <li>05-18-2017 -- <a href="https://www.lds.org/general-conference/2017/04/dont-look-around-look-up?lang=eng">Don’t Look Around, Look Up!</a>, Yoon Hwan Choi (2017-4)</li>

      <li>05-19-2017 -- <a href="https://www.lds.org/general-conference/2016/04/do-i-believe?lang=eng">Do I Believe?</a>, Bonnie L. Oscarson (2016-4)</li>

      <li>05-20-2017 -- <a href="https://www.lds.org/general-conference/2015/04/why-marriage-and-family-matter-everywhere-in-the-world?lang=eng">Why Marriage and Family Matter—Everywhere in the World</a>, By Elder L. Tom Perry (2015-4)</li>

      <li>05-21-2017 -- <a href="https://www.lds.org/general-conference/2017/04/our-fathers-glorious-plan?lang=eng">Our Father’s Glorious Plan</a>, Weatherford T. Clayton (2017-4)</li>

      <li>05-22-2017 -- <a href="https://www.lds.org/general-conference/2016/04/the-power-of-godliness?lang=eng">The Power of Godliness</a>, Kent F. Richards (2016-4)</li>

      <li>05-23-2017 -- <a href="https://www.lds.org/general-conference/2014/10/make-the-exercise-of-faith-your-first-priority?lang=eng">Make the Exercise of Faith Your First Priority</a>, By Elder Richard G. Scott (2014-10)</li>

      <li>05-24-2017 -- <a href="https://www.lds.org/general-conference/2013/10/i-will-not-fail-thee-nor-forsake-thee?lang=eng">“I Will Not Fail Thee, nor Forsake Thee”</a>, By President Thomas S. Monson (2013-10)</li>

      <li>05-25-2017 -- <a href="https://www.lds.org/general-conference/2017/04/my-peace-i-leave-with-you?lang=eng">“My Peace I Leave with You”</a>, Henry B. Eyring (2017-4)</li>

      <li>05-26-2017 -- <a href="https://www.lds.org/general-conference/2017/04/prepare-the-way?lang=eng">Prepare the Way</a>, Gérald Caussé (2017-4)</li>

      <li>05-27-2017 -- <a href="https://www.lds.org/general-conference/2016/10/no-greater-joy-than-to-know-that-they-know?lang=eng">No Greater Joy Than to Know That They Know</a>, K. Brett Nattress (2016-10)</li>

      <li>05-28-2017 -- <a href="https://www.lds.org/general-conference/2014/10/the-preparatory-priesthood?lang=eng">The Preparatory Priesthood</a>, By President Henry B. Eyring (2014-10)</li>

      <li>05-29-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-language-of-the-gospel?lang=eng">The Language of the Gospel</a>, Valeri V. Cordón (2017-4)</li>

      <li>05-30-2017 -- <a href="https://www.lds.org/general-conference/2016/10/come-follow-me-by-practicing-christian-love-and-service?lang=eng">“Come, Follow Me” by Practicing Christian Love and Service</a>, Robert D. Hales (2016-10)</li>

      <li>05-31-2017 -- <a href="https://www.lds.org/general-conference/2017/04/trust-in-the-lord-and-lean-not?lang=eng">Trust in the Lord and Lean Not</a>, Bonnie H. Cordon (2017-4)</li>

      <li>06-01-2017 -- <a href="https://www.lds.org/general-conference/2017/04/church-auditing-department-report-2016?lang=eng">Church Auditing Department Report, 2016</a>, Kevin R. Jergensen (2017-4)</li>

      <li>06-02-2017 -- <a href="https://www.lds.org/general-conference/2017/04/kindness-charity-and-love?lang=eng">Kindness, Charity, and Love</a>, Thomas S. Monson (2017-4)</li>

      <li>06-03-2017 -- <a href="https://www.lds.org/general-conference/2017/04/drawing-the-power-of-jesus-christ-into-our-lives?lang=eng">Drawing the Power of Jesus Christ into Our Lives</a>, Russell M. Nelson (2017-4)</li>

      <li>06-04-2017 -- <a href="https://www.lds.org/general-conference/2017/04/a-sin-resistant-generation?lang=eng">A Sin-Resistant Generation</a>, Joy D. Jones (2017-4)</li>

      <li>06-05-2017 -- <a href="https://www.lds.org/general-conference/2017/04/foundations-of-faith?lang=eng">Foundations of Faith</a>, Quentin L. Cook (2017-4)</li>

      <li>06-06-2017 -- <a href="https://www.lds.org/general-conference/2017/04/called-to-the-work?lang=eng">Called to the Work</a>, David A. Bednar (2017-4)</li>

      <li>06-07-2017 -- <a href="https://www.lds.org/general-conference/2017/04/then-jesus-beholding-him-loved-him?lang=eng">Then Jesus Beholding Him Loved Him</a>, S. Mark Palmer (2017-4)</li>

      <li>06-08-2017 -- <a href="https://www.lds.org/general-conference/2016/10/learn-from-alma-and-amulek?lang=eng">Learn from Alma and Amulek</a>, Dieter F. Uchtdorf (2016-10)</li>

      <li>06-09-2017 -- <a href="https://www.lds.org/general-conference/2017/04/how-does-the-holy-ghost-help-you?lang=eng">How Does the Holy Ghost Help You?</a>, Gary E. Stevenson (2017-4)</li>

    </ul>

    <h2>Study Plan </h2>
    <ul>

      <li>06-10-2017 -- <a href="https://www.lds.org/general-conference/2015/10/meeting-the-challenges-of-todays-world?lang=eng">Meeting the Challenges of Today’s World</a>, Robert D. Hales (2015-10)</li>

      <li>06-11-2017 -- <a href="https://www.lds.org/general-conference/2017/04/return-and-receive?lang=eng">Return and Receive</a>, M. Russell Ballard (2017-4)</li>

      <li>06-12-2017 -- <a href="https://www.lds.org/general-conference/2017/04/kindness-charity-and-love?lang=eng">Kindness, Charity, and Love</a>, Thomas S. Monson (2017-4)</li>

      <li>06-13-2017 -- <a href="https://www.lds.org/general-conference/2014/04/the-keys-and-authority-of-the-priesthood?lang=eng">The Keys and Authority of the Priesthood</a>, By Elder Dallin H. Oaks (2014-4)</li>

      <li>06-14-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-voice-of-warning?lang=eng">The Voice of Warning</a>, D. Todd Christofferson (2017-4)</li>

      <li>06-15-2017 -- <a href="https://www.lds.org/general-conference/2016/10/principles-and-promises?lang=eng">Principles and Promises</a>, Thomas S. Monson (2016-10)</li>

      <li>06-16-2017 -- <a href="https://www.lds.org/general-conference/2015/10/turn-to-him-and-answers-will-come?lang=eng">Turn to Him and Answers Will Come</a>, James B. Martino (2015-10)</li>

      <li>06-17-2017 -- <a href="https://www.lds.org/general-conference/2017/04/overcoming-the-world?lang=eng">Overcoming the World</a>, Neil L. Andersen (2017-4)</li>

      <li>06-18-2017 -- <a href="https://www.lds.org/general-conference/2017/04/then-jesus-beholding-him-loved-him?lang=eng">Then Jesus Beholding Him Loved Him</a>, S. Mark Palmer (2017-4)</li>

      <li>06-19-2017 -- <a href="https://www.lds.org/general-conference/2017/04/statistical-report-2016?lang=eng">Statistical Report, 2016</a>, Brook P. Hales (2017-4)</li>

      <li>06-20-2017 -- <a href="https://www.lds.org/general-conference/2017/04/perfect-love-casteth-out-fear?lang=eng">Perfect Love Casteth Out Fear</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>06-21-2017 -- <a href="https://www.lds.org/general-conference/2016/10/no-greater-joy-than-to-know-that-they-know?lang=eng">No Greater Joy Than to Know That They Know</a>, K. Brett Nattress (2016-10)</li>

      <li>06-22-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-sustaining-of-church-officers?lang=eng">The Sustaining of Church Officers</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>06-23-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-godhead-and-the-plan-of-salvation?lang=eng">The Godhead and the Plan of Salvation</a>, Dallin H. Oaks (2017-4)</li>

      <li>06-24-2017 -- <a href="https://www.lds.org/general-conference/2017/04/certain-women?lang=eng">Certain Women</a>, Linda K. Burton (2017-4)</li>

      <li>06-25-2017 -- <a href="https://www.lds.org/general-conference/2017/04/dont-look-around-look-up?lang=eng">Don’t Look Around, Look Up!</a>, Yoon Hwan Choi (2017-4)</li>

      <li>06-26-2017 -- <a href="https://www.lds.org/general-conference/2017/04/his-daily-guiding-hand?lang=eng">His Daily Guiding Hand</a>, M. Joseph Brough (2017-4)</li>

      <li>06-27-2017 -- <a href="https://www.lds.org/general-conference/2017/04/whatsoever-he-saith-unto-you-do-it?lang=eng">Whatsoever He Saith unto You, Do It</a>, L. Whitney Clayton (2017-4)</li>

      <li>06-28-2017 -- <a href="https://www.lds.org/general-conference/2017/04/let-the-holy-spirit-guide?lang=eng">Let the Holy Spirit Guide</a>, Ronald A. Rasband (2017-4)</li>

      <li>06-29-2017 -- <a href="https://www.lds.org/general-conference/2017/04/called-to-the-work?lang=eng">Called to the Work</a>, David A. Bednar (2017-4)</li>

      <li>06-30-2017 -- <a href="https://www.lds.org/general-conference/2013/04/when-you-save-a-girl-you-save-generations?lang=eng">When You Save a Girl, You Save Generations</a>, By Mary N. Cook (2013-4)</li>

      <li>07-01-2017 -- <a href="https://www.lds.org/general-conference/2016/04/family-councils?lang=eng">Family Councils</a>, M. Russell Ballard (2016-4)</li>

      <li>07-02-2017 -- <a href="https://www.lds.org/general-conference/2016/10/abide-in-my-love?lang=eng">“Abide in My Love”</a>, D. Todd Christofferson (2016-10)</li>

      <li>07-03-2017 -- <a href="https://www.lds.org/general-conference/2017/04/our-good-shepherd?lang=eng">Our Good Shepherd</a>, Dale G. Renlund (2017-4)</li>

      <li>07-04-2017 -- <a href="https://www.lds.org/general-conference/2017/04/how-does-the-holy-ghost-help-you?lang=eng">How Does the Holy Ghost Help You?</a>, Gary E. Stevenson (2017-4)</li>

      <li>07-05-2017 -- <a href="https://www.lds.org/general-conference/2017/04/foundations-of-faith?lang=eng">Foundations of Faith</a>, Quentin L. Cook (2017-4)</li>

      <li>07-06-2017 -- <a href="https://www.lds.org/general-conference/2015/10/i-stand-all-amazed?lang=eng">I Stand All Amazed</a>, Ronald A. Rasband (2015-10)</li>

      <li>07-07-2017 -- <a href="https://www.lds.org/general-conference/2016/04/always-retain-a-remission-of-your-sins?lang=eng">Always Retain a Remission of Your Sins</a>, David A. Bednar (2016-4)</li>

      <li>07-08-2017 -- <a href="https://www.lds.org/general-conference/2016/04/the-holy-ghost?lang=eng">The Holy Ghost</a>, Robert D. Hales (2016-4)</li>

      <li>07-09-2017 -- <a href="https://www.lds.org/general-conference/2017/04/confide-in-god-unwaveringly?lang=eng">Confide in God Unwaveringly</a>, Ulisses Soares (2017-4)</li>

      <li>07-10-2017 -- <a href="https://www.lds.org/general-conference/2017/04/gathering-the-family-of-god?lang=eng">Gathering the Family of God</a>, Henry B. Eyring (2017-4)</li>

      <li>07-11-2017 -- <a href="https://www.lds.org/general-conference/2015/10/it-works-wonderfully?lang=eng">It Works Wonderfully!</a>, Dieter F. Uchtdorf (2015-10)</li>

      <li>07-12-2017 -- <a href="https://www.lds.org/general-conference/2007/10/blessed-are-all-the-pure-in-heart?lang=eng">Blessed Are All the Pure in Heart</a>, L. Whitney Clayton (2007-10)</li>

      <li>07-13-2017 -- <a href="https://www.lds.org/general-conference/2017/04/that-our-light-may-be-a-standard-for-the-nations?lang=eng">That Our Light May Be a Standard for the Nations</a>, Benjamín De Hoyos (2017-4)</li>

      <li>07-14-2017 -- <a href="https://www.lds.org/general-conference/2015/10/be-an-example-and-a-light?lang=eng">Be an Example and a Light</a>, Thomas S. Monson (2015-10)</li>

      <li>07-15-2017 -- <a href="https://www.lds.org/general-conference/2017/04/my-peace-i-leave-with-you?lang=eng">“My Peace I Leave with You”</a>, Henry B. Eyring (2017-4)</li>

      <li>07-16-2017 -- <a href="https://www.lds.org/general-conference/2017/04/stand-up-inside-and-be-all-in?lang=eng">Stand Up Inside and Be All In</a>, Gary B. Sabin (2017-4)</li>

      <li>07-17-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-power-of-the-book-of-mormon?lang=eng">The Power of the Book of Mormon</a>, Thomas S. Monson (2017-4)</li>

      <li>07-18-2017 -- <a href="https://www.lds.org/general-conference/2017/04/trust-in-the-lord-and-lean-not?lang=eng">Trust in the Lord and Lean Not</a>, Bonnie H. Cordon (2017-4)</li>

      <li>07-19-2017 -- <a href="https://www.lds.org/general-conference/2017/04/our-fathers-glorious-plan?lang=eng">Our Father’s Glorious Plan</a>, Weatherford T. Clayton (2017-4)</li>

      <li>07-20-2017 -- <a href="https://www.lds.org/general-conference/2017/04/and-this-is-life-eternal?lang=eng">And This Is Life Eternal</a>, C. Scott Grow (2017-4)</li>

      <li>07-21-2017 -- <a href="https://www.lds.org/general-conference/2017/04/a-sin-resistant-generation?lang=eng">A Sin-Resistant Generation</a>, Joy D. Jones (2017-4)</li>

      <li>07-22-2017 -- <a href="https://www.lds.org/general-conference/2013/10/hastening-the-lords-game-plan?lang=eng">Hastening the Lord’s Game Plan!</a>, By Elder S. Gifford Nielsen (2013-10)</li>

      <li>07-23-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-language-of-the-gospel?lang=eng">The Language of the Gospel</a>, Valeri V. Cordón (2017-4)</li>

      <li>07-24-2017 -- <a href="https://www.lds.org/general-conference/2017/04/becoming-a-disciple-of-our-lord-jesus-christ?lang=eng">Becoming a Disciple of Our Lord Jesus Christ</a>, Robert D. Hales (2017-4)</li>

      <li>07-25-2017 -- <a href="https://www.lds.org/general-conference/2016/10/emissaries-to-the-church?lang=eng">Emissaries to the Church</a>, Jeffrey R. Holland (2016-10)</li>

      <li>07-26-2017 -- <a href="https://www.lds.org/general-conference/2017/04/to-the-friends-and-investigators-of-the-church?lang=eng">To the Friends and Investigators of the Church</a>, Joaquin E. Costa (2017-4)</li>

      <li>07-27-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-greatest-among-you?lang=eng">The Greatest among You</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>07-28-2017 -- <a href="https://www.lds.org/general-conference/2017/04/walk-with-me?lang=eng">“Walk with Me”</a>, Henry B. Eyring (2017-4)</li>

      <li>07-29-2017 -- <a href="https://www.lds.org/general-conference/2016/10/the-lord-jesus-christ-teaches-us-to-pray?lang=eng">The Lord Jesus Christ Teaches Us to Pray</a>, Juan A. Uceda (2016-10)</li>

      <li>07-30-2017 -- <a href="https://www.lds.org/general-conference/2017/04/church-auditing-department-report-2016?lang=eng">Church Auditing Department Report, 2016</a>, Kevin R. Jergensen (2017-4)</li>

      <li>07-31-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-beauty-of-holiness?lang=eng">The Beauty of Holiness</a>, Carol F. McConkie (2017-4)</li>

      <li>08-01-2017 -- <a href="https://www.lds.org/general-conference/2017/04/brighter-and-brighter-until-the-perfect-day?lang=eng">Brighter and Brighter until the Perfect Day</a>, Mark A. Bragg (2017-4)</li>

      <li>08-02-2017 -- <a href="https://www.lds.org/general-conference/2010/04/tell-me-the-stories-of-jesus?lang=eng">Tell Me the Stories of Jesus</a>, Neil L. Andersen (2010-4)</li>

      <li>08-03-2017 -- <a href="https://www.lds.org/general-conference/2017/04/songs-sung-and-unsung?lang=eng">Songs Sung and Unsung</a>, Jeffrey R. Holland (2017-4)</li>

      <li>08-04-2017 -- <a href="https://www.lds.org/general-conference/2017/04/prepare-the-way?lang=eng">Prepare the Way</a>, Gérald Caussé (2017-4)</li>

      <li>08-05-2017 -- <a href="https://www.lds.org/general-conference/2016/10/joy-and-spiritual-survival?lang=eng">Joy and Spiritual Survival</a>, Russell M. Nelson (2016-10)</li>

      <li>08-06-2017 -- <a href="https://www.lds.org/general-conference/2017/04/drawing-the-power-of-jesus-christ-into-our-lives?lang=eng">Drawing the Power of Jesus Christ into Our Lives</a>, Russell M. Nelson (2017-4)</li>

      <li>08-07-2017 -- <a href="https://www.lds.org/general-conference/2016/04/he-asks-us-to-be-his-hands?lang=eng">He Asks Us to Be His Hands</a>, Cheryl A. Esplin (2016-4)</li>

      <li>08-08-2017 -- <a href="https://www.lds.org/general-conference/2012/10/the-caregiver?lang=eng">The Caregiver</a>, By President Henry B. Eyring (2012-10)</li>

    </ul>

    <h2>Study Plan </h2>
    <ul>

      <li>08-09-2017 -- <a href="https://www.lds.org/general-conference/2017/04/dont-look-around-look-up?lang=eng">Don’t Look Around, Look Up!</a>, Yoon Hwan Choi (2017-4)</li>

      <li>08-10-2017 -- <a href="https://www.lds.org/general-conference/2017/04/gathering-the-family-of-god?lang=eng">Gathering the Family of God</a>, Henry B. Eyring (2017-4)</li>

      <li>08-11-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-greatest-among-you?lang=eng">The Greatest among You</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>08-12-2017 -- <a href="https://www.lds.org/general-conference/2017/04/called-to-the-work?lang=eng">Called to the Work</a>, David A. Bednar (2017-4)</li>

      <li>08-13-2017 -- <a href="https://www.lds.org/general-conference/2017/04/and-this-is-life-eternal?lang=eng">And This Is Life Eternal</a>, C. Scott Grow (2017-4)</li>

      <li>08-14-2017 -- <a href="https://www.lds.org/general-conference/2016/04/and-there-shall-be-no-more-death?lang=eng">And There Shall Be No More Death</a>, Paul V. Johnson (2016-4)</li>

      <li>08-15-2017 -- <a href="https://www.lds.org/general-conference/2017/04/kindness-charity-and-love?lang=eng">Kindness, Charity, and Love</a>, Thomas S. Monson (2017-4)</li>

      <li>08-16-2017 -- <a href="https://www.lds.org/general-conference/2016/04/in-praise-of-those-who-save?lang=eng">In Praise of Those Who Save</a>, Dieter F. Uchtdorf (2016-4)</li>

      <li>08-17-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-beauty-of-holiness?lang=eng">The Beauty of Holiness</a>, Carol F. McConkie (2017-4)</li>

      <li>08-18-2017 -- <a href="https://www.lds.org/general-conference/2016/10/fourth-floor-last-door?lang=eng">Fourth Floor, Last Door</a>, Dieter F. Uchtdorf (2016-10)</li>

      <li>08-19-2017 -- <a href="https://www.lds.org/general-conference/2015/04/yes-we-can-and-will-win?lang=eng">Yes, We Can and Will Win!</a>, By Elder Ulisses Soares (2015-4)</li>

      <li>08-20-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-language-of-the-gospel?lang=eng">The Language of the Gospel</a>, Valeri V. Cordón (2017-4)</li>

      <li>08-21-2017 -- <a href="https://www.lds.org/general-conference/2017/04/drawing-the-power-of-jesus-christ-into-our-lives?lang=eng">Drawing the Power of Jesus Christ into Our Lives</a>, Russell M. Nelson (2017-4)</li>

      <li>08-22-2017 -- <a href="https://www.lds.org/general-conference/2017/04/that-our-light-may-be-a-standard-for-the-nations?lang=eng">That Our Light May Be a Standard for the Nations</a>, Benjamín De Hoyos (2017-4)</li>

      <li>08-23-2017 -- <a href="https://www.lds.org/general-conference/2016/04/the-price-of-priesthood-power?lang=eng">The Price of Priesthood Power</a>, Russell M. Nelson (2016-4)</li>

      <li>08-24-2017 -- <a href="https://www.lds.org/general-conference/2016/04/trust-in-that-spirit-which-leadeth-to-do-good?lang=eng">Trust in That Spirit Which Leadeth to Do Good</a>, Henry B. Eyring (2016-4)</li>

      <li>08-25-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-voice-of-warning?lang=eng">The Voice of Warning</a>, D. Todd Christofferson (2017-4)</li>

      <li>08-26-2017 -- <a href="https://www.lds.org/general-conference/2014/04/obedience-through-our-faithfulness?lang=eng">Obedience through Our Faithfulness</a>, By Elder L. Tom Perry (2014-4)</li>

      <li>08-27-2017 -- <a href="https://www.lds.org/general-conference/2017/04/trust-in-the-lord-and-lean-not?lang=eng">Trust in the Lord and Lean Not</a>, Bonnie H. Cordon (2017-4)</li>

      <li>08-28-2017 -- <a href="https://www.lds.org/general-conference/2015/04/where-justice-love-and-mercy-meet?lang=eng">Where Justice, Love, and Mercy Meet</a>, By Elder Jeffrey R. Holland (2015-4)</li>

      <li>08-29-2017 -- <a href="https://www.lds.org/general-conference/2017/04/statistical-report-2016?lang=eng">Statistical Report, 2016</a>, Brook P. Hales (2017-4)</li>

      <li>08-30-2017 -- <a href="https://www.lds.org/general-conference/2011/04/preparing-the-world-for-the-second-coming?lang=eng">Preparing the World for the Second Coming</a>, Neil L. Andersen (2011-4)</li>

      <li>08-31-2017 -- <a href="https://www.lds.org/general-conference/2017/04/my-peace-i-leave-with-you?lang=eng">“My Peace I Leave with You”</a>, Henry B. Eyring (2017-4)</li>

      <li>09-01-2017 -- <a href="https://www.lds.org/general-conference/2017/04/whatsoever-he-saith-unto-you-do-it?lang=eng">Whatsoever He Saith unto You, Do It</a>, L. Whitney Clayton (2017-4)</li>

      <li>09-02-2017 -- <a href="https://www.lds.org/general-conference/2017/04/how-does-the-holy-ghost-help-you?lang=eng">How Does the Holy Ghost Help You?</a>, Gary E. Stevenson (2017-4)</li>

      <li>09-03-2017 -- <a href="https://www.lds.org/general-conference/2011/10/the-hearts-of-the-children-shall-turn?lang=eng">The Hearts of the Children Shall Turn</a>, David A. Bednar (2011-10)</li>

      <li>09-04-2017 -- <a href="https://www.lds.org/general-conference/2017/04/a-sin-resistant-generation?lang=eng">A Sin-Resistant Generation</a>, Joy D. Jones (2017-4)</li>

      <li>09-05-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-sustaining-of-church-officers?lang=eng">The Sustaining of Church Officers</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>09-06-2017 -- <a href="https://www.lds.org/general-conference/2017/04/our-good-shepherd?lang=eng">Our Good Shepherd</a>, Dale G. Renlund (2017-4)</li>

      <li>09-07-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-power-of-the-book-of-mormon?lang=eng">The Power of the Book of Mormon</a>, Thomas S. Monson (2017-4)</li>

      <li>09-08-2017 -- <a href="https://www.lds.org/general-conference/2016/10/principles-and-promises?lang=eng">Principles and Promises</a>, Thomas S. Monson (2016-10)</li>

      <li>09-09-2017 -- <a href="https://www.lds.org/general-conference/2016/04/where-two-or-three-are-gathered?lang=eng">Where Two or Three Are Gathered</a>, Henry B. Eyring (2016-4)</li>

      <li>09-10-2017 -- <a href="https://www.lds.org/general-conference/2017/04/songs-sung-and-unsung?lang=eng">Songs Sung and Unsung</a>, Jeffrey R. Holland (2017-4)</li>

      <li>09-11-2017 -- <a href="https://www.lds.org/general-conference/2017/04/then-jesus-beholding-him-loved-him?lang=eng">Then Jesus Beholding Him Loved Him</a>, S. Mark Palmer (2017-4)</li>

      <li>09-12-2017 -- <a href="https://www.lds.org/general-conference/2017/04/return-and-receive?lang=eng">Return and Receive</a>, M. Russell Ballard (2017-4)</li>

      <li>09-13-2017 -- <a href="https://www.lds.org/general-conference/2016/10/the-sacrament-can-help-us-become-holy?lang=eng">The Sacrament Can Help Us Become Holy</a>, Peter F. Meurs (2016-10)</li>

      <li>09-14-2017 -- <a href="https://www.lds.org/general-conference/2016/10/look-to-the-book-look-to-the-lord?lang=eng">Look to the Book, Look to the Lord</a>, Gary E. Stevenson (2016-10)</li>

      <li>09-15-2017 -- <a href="https://www.lds.org/general-conference/2017/04/foundations-of-faith?lang=eng">Foundations of Faith</a>, Quentin L. Cook (2017-4)</li>

      <li>09-16-2017 -- <a href="https://www.lds.org/general-conference/2014/04/the-choice-generation?lang=eng">The Choice Generation</a>, By Randall L. Ridd (2014-4)</li>

      <li>09-17-2017 -- <a href="https://www.lds.org/general-conference/2017/04/becoming-a-disciple-of-our-lord-jesus-christ?lang=eng">Becoming a Disciple of Our Lord Jesus Christ</a>, Robert D. Hales (2017-4)</li>

      <li>09-18-2017 -- <a href="https://www.lds.org/general-conference/2017/04/perfect-love-casteth-out-fear?lang=eng">Perfect Love Casteth Out Fear</a>, Dieter F. Uchtdorf (2017-4)</li>

      <li>09-19-2017 -- <a href="https://www.lds.org/general-conference/2016/04/eternal-families?lang=eng">Eternal Families</a>, Henry B. Eyring (2016-4)</li>

      <li>09-20-2017 -- <a href="https://www.lds.org/general-conference/2017/04/his-daily-guiding-hand?lang=eng">His Daily Guiding Hand</a>, M. Joseph Brough (2017-4)</li>

      <li>09-21-2017 -- <a href="https://www.lds.org/general-conference/2017/04/the-godhead-and-the-plan-of-salvation?lang=eng">The Godhead and the Plan of Salvation</a>, Dallin H. Oaks (2017-4)</li>

      <li>09-22-2017 -- <a href="https://www.lds.org/general-conference/2015/10/why-the-church?lang=eng">Why the Church</a>, D. Todd Christofferson (2015-10)</li>

      <li>09-23-2017 -- <a href="https://www.lds.org/general-conference/2016/10/the-righteous-judge?lang=eng">The Righteous Judge</a>, Lynn G. Robbins (2016-10)</li>

      <li>09-24-2017 -- <a href="https://www.lds.org/general-conference/2017/04/walk-with-me?lang=eng">“Walk with Me”</a>, Henry B. Eyring (2017-4)</li>

      <li>09-25-2017 -- <a href="https://www.lds.org/general-conference/2017/04/stand-up-inside-and-be-all-in?lang=eng">Stand Up Inside and Be All In</a>, Gary B. Sabin (2017-4)</li>

      <li>09-26-2017 -- <a href="https://www.lds.org/general-conference/2016/04/choices?lang=eng">Choices</a>, Thomas S. Monson (2016-4)</li>

      <li>09-27-2017 -- <a href="https://www.lds.org/general-conference/2015/04/the-sabbath-is-a-delight?lang=eng">The Sabbath Is a Delight</a>, By Elder Russell M. Nelson (2015-4)</li>

      <li>09-28-2017 -- <a href="https://www.lds.org/general-conference/2017/04/confide-in-god-unwaveringly?lang=eng">Confide in God Unwaveringly</a>, Ulisses Soares (2017-4)</li>

      <li>09-29-2017 -- <a href="https://www.lds.org/general-conference/2014/10/continuing-revelation?lang=eng">Continuing Revelation</a>, By President Henry B. Eyring (2014-10)</li>

      <li>09-30-2017 -- <a href="https://www.lds.org/general-conference/2017/04/let-the-holy-spirit-guide?lang=eng">Let the Holy Spirit Guide</a>, Ronald A. Rasband (2017-4)</li>

      <li>10-01-2017 -- <a href="https://www.lds.org/general-conference/2017/04/our-fathers-glorious-plan?lang=eng">Our Father’s Glorious Plan</a>, Weatherford T. Clayton (2017-4)</li>

      <li>10-02-2017 -- <a href="https://www.lds.org/general-conference/2017/04/brighter-and-brighter-until-the-perfect-day?lang=eng">Brighter and Brighter until the Perfect Day</a>, Mark A. Bragg (2017-4)</li>

      <li>10-03-2017 -- <a href="https://www.lds.org/general-conference/2017/04/to-the-friends-and-investigators-of-the-church?lang=eng">To the Friends and Investigators of the Church</a>, Joaquin E. Costa (2017-4)</li>

      <li>10-04-2017 -- <a href="https://www.lds.org/general-conference/2017/04/overcoming-the-world?lang=eng">Overcoming the World</a>, Neil L. Andersen (2017-4)</li>

      <li>10-05-2017 -- <a href="https://www.lds.org/general-conference/2017/04/prepare-the-way?lang=eng">Prepare the Way</a>, Gérald Caussé (2017-4)</li>

      <li>10-06-2017 -- <a href="https://www.lds.org/general-conference/2017/04/certain-women?lang=eng">Certain Women</a>, Linda K. Burton (2017-4)</li>

      <li>10-07-2017 -- <a href="https://www.lds.org/general-conference/2017/04/church-auditing-department-report-2016?lang=eng">Church Auditing Department Report, 2016</a>, Kevin R. Jergensen (2017-4)</li>

    </ul>


{% endblock %}