{% extends "base.html" %}

{% block body %}

<h2>Study Plan </h2>
    <ul>

      <li>04-12-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/the-vision-of-the-redemption-of-the-dead?lang=eng">The Vision of the Redemption of the Dead</a>, M. Russell Ballard (2018-10)</li>

      <li>04-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/32alvarez?lang=eng">How the Priesthood Blesses Youth</a>, Laudy Ruth Kaouk Alvarez (2020-4)</li>

      <li>04-14-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/meek-and-lowly-of-heart?lang=eng">Meek and Lowly of Heart</a>, David A. Bednar (2018-4)</li>

      <li>04-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/43holland?lang=eng">A Perfect Brightness of Hope</a>, Jeffrey R. Holland (2020-4)</li>

      <li>04-16-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/16eyring?lang=eng">A Home Where the Spirit of the Lord Dwells</a>, Henry B. Eyring (2019-4)</li>

      <li>04-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/35eyring?lang=eng">He Goes before Us</a>, Henry B. Eyring (2020-4)</li>

      <li>04-18-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/04/is-it-still-wonderful-to-you?lang=eng">Is It Still Wonderful to You?</a>, By Bishop Gérald Caussé (2015-4)</li>

      <li>04-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/45nelson?lang=eng">Hear Him</a>, Russell M. Nelson (2020-4)</li>

      <li>04-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/34eyring?lang=eng">Covenant Women in Partnership with God</a>, Henry B. Eyring (2019-10)</li>

      <li>04-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/46nelson?lang=eng">Hosanna Shout</a>, Russell M. Nelson (2020-4)</li>

      <li>04-22-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/25causse?lang=eng">A Living Witness of the Living Christ</a>, Gérald Caussé (2020-4)</li>

      <li>04-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/12ballard?lang=eng">Shall We Not Go On in So Great a Cause?</a>, M. Russell Ballard (2020-4)</li>

      <li>04-24-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/46nelson?lang=eng">The Second Great Commandment</a>, Russell M. Nelson (2019-10)</li>

      <li>04-25-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/27tai?lang=eng">The Power of the Book of Mormon in Conversion</a>, Benjamin M. Z. Tai (2020-4)</li>

      <li>04-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/57nelson?lang=eng">Go Forward in Faith</a>, Russell M. Nelson (2020-4)</li>

      <li>04-27-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/55clayton?lang=eng">The Finest Homes</a>, L. Whitney Clayton (2020-4)</li>

      <li>04-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/53gimenez?lang=eng">Finding Refuge from the Storms of Life</a>, Ricardo P. Giménez (2020-4)</li>

      <li>04-29-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2014/10/eternal-life-to-know-our-heavenly-father-and-his-son-jesus-christ?lang=eng">Eternal Life—to Know Our Heavenly Father and His Son, Jesus Christ</a>, By Elder Robert D. Hales (2014-10)</li>

      <li>04-30-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/36nelson?lang=eng">We Can Do Better and Be Better</a>, Russell M. Nelson (2019-4)</li>

      <li>05-01-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/women-and-gospel-learning-in-the-home?lang=eng">Women and Gospel Learning in the Home</a>, Henry B. Eyring (2018-10)</li>

      <li>05-02-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/04/what-shall-we-do?lang=eng">What Shall We Do?</a>, Neill F. Marriott (2016-4)</li>

      <li>05-03-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/28stevenson?lang=eng">A Good Foundation against the Time to Come</a>, Gary E. Stevenson (2020-4)</li>

      <li>05-04-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/52boom?lang=eng">Knowing, Loving, and Growing</a>, Hans T. Boom (2019-10)</li>

      <li>05-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/34bingham?lang=eng">United in Accomplishing God’s Work</a>, Jean B. Bingham (2020-4)</li>

      <li>05-06-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/26renlund?lang=eng">Consider the Goodness and Greatness of God</a>, Dale G. Renlund (2020-4)</li>

      <li>05-07-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/a-sin-resistant-generation?lang=eng">A Sin-Resistant Generation</a>, Joy D. Jones (2017-4)</li>

      <li>05-08-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/am-i-a-child-of-god?lang=eng">Am I a Child of God?</a>, Brian K. Taylor (2018-4)</li>

      <li>05-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/24mccune?lang=eng">Come unto Christ—Living as Latter-day Saints</a>, John A. McCune (2020-4)</li>

      <li>05-10-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/33petelo?lang=eng">How the Priesthood Blesses Youth</a>, Enzo Serge Petelo (2020-4)</li>

      <li>05-11-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/how-does-the-holy-ghost-help-you?lang=eng">How Does the Holy Ghost Help You?</a>, Gary E. Stevenson (2017-4)</li>

      <li>05-12-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/56christofferson?lang=eng">Sharing the Message of the Restoration and the Resurrection</a>, D. Todd Christofferson (2020-4)</li>

      <li>05-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/56andersen?lang=eng">Fruit</a>, Neil L. Andersen (2019-10)</li>

      <li>05-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/54uchtdorf?lang=eng">Come and Belong</a>, Dieter F. Uchtdorf (2020-4)</li>

      <li>05-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/44bednar?lang=eng">“Let This House Be Built unto My Name”</a>, David A. Bednar (2020-4)</li>

      <li>05-16-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/43cook?lang=eng">Great Love for Our Father’s Children</a>, Quentin L. Cook (2019-4)</li>

      <li>05-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/23soares?lang=eng">The Coming Forth of the Book of Mormon</a>, Ulisses Soares (2020-4)</li>

      <li>05-18-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/51oaks?lang=eng">The Great Plan</a>, Dallin H. Oaks (2020-4)</li>

      <li>05-19-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/10/your-next-step?lang=eng">Your Next Step</a>, Randall K. Bennett (2015-10)</li>

      <li>05-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/32harkness?lang=eng">Honoring His Name</a>, Lisa L. Harkness (2019-10)</li>

      <li>05-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/27budge?lang=eng">Consistent and Resilient Trust</a>, L. Todd Budge (2019-10)</li>

      <li>05-22-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/14jones?lang=eng">An Especially Noble Calling</a>, Joy D. Jones (2020-4)</li>

      <li>05-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/17eyring?lang=eng">Prayers of Faith</a>, Henry B. Eyring (2020-4)</li>

      <li>05-24-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/51eyring?lang=eng">Holiness and the Plan of Happiness</a>, Henry B. Eyring (2019-10)</li>

      <li>05-25-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/the-beauty-of-holiness?lang=eng">The Beauty of Holiness</a>, Carol F. McConkie (2017-4)</li>

      <li>05-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/16holmes?lang=eng">Deep in Our Heart</a>, Douglas D. Holmes (2020-4)</li>

      <li>05-27-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/13rasband?lang=eng">Ensuring a Righteous Judgment</a>, James R. Rasband (2020-4)</li>

      <li>05-28-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/our-campfire-of-faith?lang=eng">Our Campfire of Faith</a>, Gerrit W. Gong (2018-10)</li>

      <li>05-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/37nelson?lang=eng">Opening the Heavens for Help</a>, Russell M. Nelson (2020-4)</li>

      <li>05-30-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/11nelson?lang=eng">Opening Message</a>, Russell M. Nelson (2020-4)</li>

      <li>05-31-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/15andersen?lang=eng">Spiritually Defining Memories</a>, Neil L. Andersen (2020-4)</li>

      <li>06-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/31gong?lang=eng">Hosanna and Hallelujah—The Living Jesus Christ: The Heart of Restoration and Easter</a>, Gerrit W. Gong (2020-4)</li>

      <li>06-02-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/52cook?lang=eng">The Blessing of Continuing Revelation to Prophets and Personal Revelation to Guide Our Lives</a>, Quentin L. Cook (2020-4)</li>

      <li>06-03-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/the-plan-and-the-proclamation?lang=eng">The Plan and the Proclamation</a>, Dallin H. Oaks (2017-10)</li>

      <li>06-04-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/53ballard?lang=eng">Giving Our Spirits Control over Our Bodies</a>, M. Russell Ballard (2019-10)</li>

      <li>06-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/36oaks?lang=eng">The Melchizedek Priesthood and the Keys</a>, Dallin H. Oaks (2020-4)</li>

      <li>06-06-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/27homer?lang=eng">Hearing His Voice</a>, David P. Homer (2019-4)</li>

      <li>06-07-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/the-living-bread-which-came-down-from-heaven?lang=eng">The Living Bread Which Came Down from Heaven</a>, D. Todd Christofferson (2017-10)</li>

      <li>06-08-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/41rasband?lang=eng">Fulfillment of Prophecy</a>, Ronald A. Rasband (2020-4)</li>

      <li>06-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/42cordon?lang=eng">That They May See</a>, Bonnie H. Cordon (2020-4)</li>

      <li>06-10-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2014/10/which-way-do-you-face?lang=eng">Which Way Do You Face?</a>, By Elder Lynn G. Robbins (2014-10)</li>

      <li>06-11-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/44gonzalez?lang=eng">The Savior’s Touch</a>, Walter F. González (2019-10)</li>

    </ul>

    <h2>Study Plan </h2>
    <ul>

      <li>06-12-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/16renlund?lang=eng">Unwavering Commitment to Jesus Christ</a>, Dale G. Renlund (2019-10)</li>

      <li>06-13-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/lift-up-your-head-and-rejoice?lang=eng">Lift Up Your Head and Rejoice</a>, M. Joseph Brough (2018-10)</li>

      <li>06-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/12ballard?lang=eng">Shall We Not Go On in So Great a Cause?</a>, M. Russell Ballard (2020-4)</li>

      <li>06-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/44bednar?lang=eng">“Let This House Be Built unto My Name”</a>, David A. Bednar (2020-4)</li>

      <li>06-16-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/52cook?lang=eng">The Blessing of Continuing Revelation to Prophets and Personal Revelation to Guide Our Lives</a>, Quentin L. Cook (2020-4)</li>

      <li>06-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/33petelo?lang=eng">How the Priesthood Blesses Youth</a>, Enzo Serge Petelo (2020-4)</li>

      <li>06-18-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2014/10/prepared-in-a-manner-that-never-had-been-known?lang=eng">Prepared in a Manner That Never Had Been Known</a>, By Linda K. Burton (2014-10)</li>

      <li>06-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/54uchtdorf?lang=eng">Come and Belong</a>, Dieter F. Uchtdorf (2020-4)</li>

      <li>06-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/55clayton?lang=eng">The Finest Homes</a>, L. Whitney Clayton (2020-4)</li>

      <li>06-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/41gong?lang=eng">Covenant Belonging</a>, Gerrit W. Gong (2019-10)</li>

      <li>06-22-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/28alvarado?lang=eng">After the Trial of Our Faith</a>, Jorge M. Alvarado (2019-10)</li>

      <li>06-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/16holmes?lang=eng">Deep in Our Heart</a>, Douglas D. Holmes (2020-4)</li>

      <li>06-24-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2014/10/guided-safely-home?lang=eng">Guided Safely Home</a>, By President Thomas S. Monson (2014-10)</li>

      <li>06-25-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/11nelson?lang=eng">Opening Message</a>, Russell M. Nelson (2020-4)</li>

      <li>06-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/34bingham?lang=eng">United in Accomplishing God’s Work</a>, Jean B. Bingham (2020-4)</li>

      <li>06-27-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/17oaks?lang=eng">Trust in the Lord</a>, Dallin H. Oaks (2019-10)</li>

      <li>06-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/51oaks?lang=eng">The Great Plan</a>, Dallin H. Oaks (2020-4)</li>

      <li>06-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/43holland?lang=eng">A Perfect Brightness of Hope</a>, Jeffrey R. Holland (2020-4)</li>

      <li>06-30-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/32harkness?lang=eng">Honoring His Name</a>, Lisa L. Harkness (2019-10)</li>

      <li>07-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/25causse?lang=eng">A Living Witness of the Living Christ</a>, Gérald Caussé (2020-4)</li>

      <li>07-02-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/22bednar?lang=eng">Watchful unto Prayer Continually</a>, David A. Bednar (2019-10)</li>

      <li>07-03-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/37nelson?lang=eng">Opening the Heavens for Help</a>, Russell M. Nelson (2020-4)</li>

      <li>07-04-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/11holland?lang=eng">The Message, the Meaning, and the Multitude</a>, Jeffrey R. Holland (2019-10)</li>

      <li>07-05-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/then-jesus-beholding-him-loved-him?lang=eng">Then Jesus Beholding Him Loved Him</a>, S. Mark Palmer (2017-4)</li>

      <li>07-06-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/inspired-ministering?lang=eng">Inspired Ministering</a>, Henry B. Eyring (2018-4)</li>

      <li>07-07-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/42franco?lang=eng">Finding Joy in Sharing the Gospel</a>, Cristina B. Franco (2019-10)</li>

      <li>07-08-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/04/to-the-friends-and-investigators-of-the-church?lang=eng">To the Friends and Investigators of the Church</a>, Joaquin E. Costa (2017-4)</li>

      <li>07-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/14jones?lang=eng">An Especially Noble Calling</a>, Joy D. Jones (2020-4)</li>

      <li>07-10-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/42cordon?lang=eng">That They May See</a>, Bonnie H. Cordon (2020-4)</li>

      <li>07-11-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/saving-ordinances-will-bring-us-marvelous-light?lang=eng">Saving Ordinances Will Bring Us Marvelous Light</a>, Taniela B. Wakolo (2018-4)</li>

      <li>07-12-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/the-priesthood-and-the-saviors-atoning-power?lang=eng">The Priesthood and the Savior’s Atoning Power</a>, Dale G. Renlund (2017-10)</li>

      <li>07-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/57nelson?lang=eng">Go Forward in Faith</a>, Russell M. Nelson (2020-4)</li>

      <li>07-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/36oaks?lang=eng">The Melchizedek Priesthood and the Keys</a>, Dallin H. Oaks (2020-4)</li>

      <li>07-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/15andersen?lang=eng">Spiritually Defining Memories</a>, Neil L. Andersen (2020-4)</li>

      <li>07-16-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/it-is-all-about-people?lang=eng">It Is All about People</a>, Gérald Caussé (2018-4)</li>

      <li>07-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/26renlund?lang=eng">Consider the Goodness and Greatness of God</a>, Dale G. Renlund (2020-4)</li>

      <li>07-18-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/13rasband?lang=eng">Ensuring a Righteous Judgment</a>, James R. Rasband (2020-4)</li>

      <li>07-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/56christofferson?lang=eng">Sharing the Message of the Restoration and the Resurrection</a>, D. Todd Christofferson (2020-4)</li>

      <li>07-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/52boom?lang=eng">Knowing, Loving, and Growing</a>, Hans T. Boom (2019-10)</li>

      <li>07-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/31gong?lang=eng">Hosanna and Hallelujah—The Living Jesus Christ: The Heart of Restoration and Easter</a>, Gerrit W. Gong (2020-4)</li>

      <li>07-22-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/the-plan-and-the-proclamation?lang=eng">The Plan and the Proclamation</a>, Dallin H. Oaks (2017-10)</li>

      <li>07-23-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/11soares?lang=eng">How Can I Understand?</a>, Ulisses Soares (2019-4)</li>

      <li>07-24-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/27homer?lang=eng">Hearing His Voice</a>, David P. Homer (2019-4)</li>

      <li>07-25-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/27tai?lang=eng">The Power of the Book of Mormon in Conversion</a>, Benjamin M. Z. Tai (2020-4)</li>

      <li>07-26-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/spiritual-eclipse?lang=eng">Spiritual Eclipse</a>, Gary E. Stevenson (2017-10)</li>

      <li>07-27-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2015/10/let-the-clarion-trumpet-sound?lang=eng">Let the Clarion Trumpet Sound</a>, Gregory A. Schwitzer (2015-10)</li>

      <li>07-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/24mccune?lang=eng">Come unto Christ—Living as Latter-day Saints</a>, John A. McCune (2020-4)</li>

      <li>07-29-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/the-correct-name-of-the-church?lang=eng">The Correct Name of the Church</a>, Russell M. Nelson (2018-10)</li>

      <li>07-30-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/32alvarez?lang=eng">How the Priesthood Blesses Youth</a>, Laudy Ruth Kaouk Alvarez (2020-4)</li>

      <li>07-31-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/he-that-shall-endure-unto-the-end-the-same-shall-be-saved?lang=eng">He That Shall Endure unto the End, the Same Shall Be Saved</a>, Claudio D. Zivic (2018-4)</li>

      <li>08-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/28stevenson?lang=eng">A Good Foundation against the Time to Come</a>, Gary E. Stevenson (2020-4)</li>

      <li>08-02-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/53gimenez?lang=eng">Finding Refuge from the Storms of Life</a>, Ricardo P. Giménez (2020-4)</li>

      <li>08-03-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/23soares?lang=eng">The Coming Forth of the Book of Mormon</a>, Ulisses Soares (2020-4)</li>

      <li>08-04-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/53gong?lang=eng">Good Shepherd, Lamb of God</a>, Gerrit W. Gong (2019-4)</li>

      <li>08-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/46nelson?lang=eng">The Second Great Commandment</a>, Russell M. Nelson (2019-10)</li>

      <li>08-06-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/45nelson?lang=eng">Hear Him</a>, Russell M. Nelson (2020-4)</li>

      <li>08-07-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/41rasband?lang=eng">Fulfillment of Prophecy</a>, Ronald A. Rasband (2020-4)</li>

      <li>08-08-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/17eyring?lang=eng">Prayers of Faith</a>, Henry B. Eyring (2020-4)</li>

      <li>08-09-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2017/10/the-truth-of-all-things?lang=eng">The Truth of All Things</a>, David F. Evans (2017-10)</li>

      <li>08-10-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/35eyring?lang=eng">He Goes before Us</a>, Henry B. Eyring (2020-4)</li>

      <li>08-11-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/46nelson?lang=eng">Hosanna Shout</a>, Russell M. Nelson (2020-4)</li>

    </ul>

    <h2>Study Plan </h2>
    <ul>

      <li>08-12-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/26renlund?lang=eng">Consider the Goodness and Greatness of God</a>, Dale G. Renlund (2020-4)</li>

      <li>08-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/31gong?lang=eng">Hosanna and Hallelujah—The Living Jesus Christ: The Heart of Restoration and Easter</a>, Gerrit W. Gong (2020-4)</li>

      <li>08-14-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/one-more-day?lang=eng">One More Day</a>, Taylor G. Godoy (2018-4)</li>

      <li>08-15-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/10/the-doctrine-of-christ?lang=eng">The Doctrine of Christ</a>, Brian K. Ashton (2016-10)</li>

      <li>08-16-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2013/10/bind-up-their-wounds?lang=eng">Bind Up Their Wounds</a>, By President Henry B. Eyring (2013-10)</li>

      <li>08-17-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/34bingham?lang=eng">United in Accomplishing God’s Work</a>, Jean B. Bingham (2020-4)</li>

      <li>08-18-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2014/04/the-choice-generation?lang=eng">The Choice Generation</a>, By Randall L. Ridd (2014-4)</li>

      <li>08-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/46nelson?lang=eng">The Second Great Commandment</a>, Russell M. Nelson (2019-10)</li>

      <li>08-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/34eyring?lang=eng">Covenant Women in Partnership with God</a>, Henry B. Eyring (2019-10)</li>

      <li>08-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/16holmes?lang=eng">Deep in Our Heart</a>, Douglas D. Holmes (2020-4)</li>

      <li>08-22-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/51oaks?lang=eng">Cleansed by Repentance</a>, Dallin H. Oaks (2019-4)</li>

      <li>08-23-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/43holland?lang=eng">A Perfect Brightness of Hope</a>, Jeffrey R. Holland (2020-4)</li>

      <li>08-24-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/55clayton?lang=eng">The Finest Homes</a>, L. Whitney Clayton (2020-4)</li>

      <li>08-25-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/11nelson?lang=eng">Opening Message</a>, Russell M. Nelson (2020-4)</li>

      <li>08-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/35oaks?lang=eng">Two Great Commandments</a>, Dallin H. Oaks (2019-10)</li>

      <li>08-27-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/04/i-am-a-child-of-god?lang=eng">I Am a Child of God</a>, Donald L. Hallstrom (2016-4)</li>

      <li>08-28-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/45callister?lang=eng">The Atonement of Jesus Christ</a>, Tad R. Callister (2019-4)</li>

      <li>08-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/12ballard?lang=eng">Shall We Not Go On in So Great a Cause?</a>, M. Russell Ballard (2020-4)</li>

      <li>08-30-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/divine-discontent?lang=eng">Divine Discontent</a>, Michelle D. Craig (2018-10)</li>

      <li>08-31-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/16renlund?lang=eng">Unwavering Commitment to Jesus Christ</a>, Dale G. Renlund (2019-10)</li>

      <li>09-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/44bednar?lang=eng">“Let This House Be Built unto My Name”</a>, David A. Bednar (2020-4)</li>

      <li>09-02-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/53gong?lang=eng">Good Shepherd, Lamb of God</a>, Gerrit W. Gong (2019-4)</li>

      <li>09-03-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/53gimenez?lang=eng">Finding Refuge from the Storms of Life</a>, Ricardo P. Giménez (2020-4)</li>

      <li>09-04-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/for-him?lang=eng">For Him</a>, Joy D. Jones (2018-10)</li>

      <li>09-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/51oaks?lang=eng">The Great Plan</a>, Dallin H. Oaks (2020-4)</li>

      <li>09-06-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/28stevenson?lang=eng">A Good Foundation against the Time to Come</a>, Gary E. Stevenson (2020-4)</li>

      <li>09-07-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/10/am-i-good-enough-will-i-make-it?lang=eng">Am I Good Enough? Will I Make It?</a>, J. Devn Cornish (2016-10)</li>

      <li>09-08-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/32alvarez?lang=eng">How the Priesthood Blesses Youth</a>, Laudy Ruth Kaouk Alvarez (2020-4)</li>

      <li>09-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/55soares?lang=eng">Take Up Our Cross</a>, Ulisses Soares (2019-10)</li>

      <li>09-10-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/becoming-exemplary-latter-day-saints?lang=eng">Becoming Exemplary Latter-day Saints</a>, Russell M. Nelson (2018-10)</li>

      <li>09-11-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/36oaks?lang=eng">The Melchizedek Priesthood and the Keys</a>, Dallin H. Oaks (2020-4)</li>

      <li>09-12-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2016/04/that-i-might-draw-all-men-unto-me?lang=eng">“That I Might Draw All Men unto Me”</a>, Dale G. Renlund (2016-4)</li>

      <li>09-13-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/15craig?lang=eng">Spiritual Capacity</a>, Michelle Craig (2019-10)</li>

      <li>09-14-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/33cordon?lang=eng">Beloved Daughters</a>, Bonnie H. Cordon (2019-10)</li>

      <li>09-15-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/57nelson?lang=eng">Go Forward in Faith</a>, Russell M. Nelson (2020-4)</li>

      <li>09-16-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/46nelson?lang=eng">Hosanna Shout</a>, Russell M. Nelson (2020-4)</li>

      <li>09-17-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/try-try-try?lang=eng">Try, Try, Try</a>, Henry B. Eyring (2018-10)</li>

      <li>09-18-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/25causse?lang=eng">A Living Witness of the Living Christ</a>, Gérald Caussé (2020-4)</li>

      <li>09-19-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/42cordon?lang=eng">That They May See</a>, Bonnie H. Cordon (2020-4)</li>

      <li>09-20-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/52cook?lang=eng">The Blessing of Continuing Revelation to Prophets and Personal Revelation to Guide Our Lives</a>, Quentin L. Cook (2020-4)</li>

      <li>09-21-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/41rasband?lang=eng">Fulfillment of Prophecy</a>, Ronald A. Rasband (2020-4)</li>

      <li>09-22-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/24mccune?lang=eng">Come unto Christ—Living as Latter-day Saints</a>, John A. McCune (2020-4)</li>

      <li>09-23-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/the-ministry-of-reconciliation?lang=eng">The Ministry of Reconciliation</a>, Jeffrey R. Holland (2018-10)</li>

      <li>09-24-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/56christofferson?lang=eng">Sharing the Message of the Restoration and the Resurrection</a>, D. Todd Christofferson (2020-4)</li>

      <li>09-25-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/35eyring?lang=eng">He Goes before Us</a>, Henry B. Eyring (2020-4)</li>

      <li>09-26-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/23soares?lang=eng">The Coming Forth of the Book of Mormon</a>, Ulisses Soares (2020-4)</li>

      <li>09-27-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/10/come-listen-to-a-prophets-voice?lang=eng">Come, Listen to a Prophet’s Voice</a>, Dean M. Davies (2018-10)</li>

      <li>09-28-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/37nelson?lang=eng">Opening the Heavens for Help</a>, Russell M. Nelson (2020-4)</li>

      <li>09-29-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/52boom?lang=eng">Knowing, Loving, and Growing</a>, Hans T. Boom (2019-10)</li>

      <li>09-30-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/14jones?lang=eng">An Especially Noble Calling</a>, Joy D. Jones (2020-4)</li>

      <li>10-01-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/33petelo?lang=eng">How the Priesthood Blesses Youth</a>, Enzo Serge Petelo (2020-4)</li>

      <li>10-02-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/25andersen?lang=eng">The Eye of Faith</a>, Neil L. Andersen (2019-4)</li>

      <li>10-03-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2018/04/inspired-ministering?lang=eng">Inspired Ministering</a>, Henry B. Eyring (2018-4)</li>

      <li>10-04-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/15andersen?lang=eng">Spiritually Defining Memories</a>, Neil L. Andersen (2020-4)</li>

      <li>10-05-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/45nelson?lang=eng">Hear Him</a>, Russell M. Nelson (2020-4)</li>

      <li>10-06-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/17eyring?lang=eng">Prayers of Faith</a>, Henry B. Eyring (2020-4)</li>

      <li>10-07-2020 -- <a href="https://www.churchofjesuschrist.org/general-conference/2019/04/56rasband?lang=eng">Build a Fortress of Spirituality and Protection</a>, Ronald A. Rasband (2019-4)</li>

      <li>10-08-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/13rasband?lang=eng">Ensuring a Righteous Judgment</a>, James R. Rasband (2020-4)</li>

      <li>10-09-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/54uchtdorf?lang=eng">Come and Belong</a>, Dieter F. Uchtdorf (2020-4)</li>

      <li>10-10-2020 -- <a href="https://www.churchofjesuschrist.org/study/general-conference/2020/04/27tai?lang=eng">The Power of the Book of Mormon in Conversion</a>, Benjamin M. Z. Tai (2020-4)</li>

    </ul>


{% endblock %}
